*{
    box-sizing: border-box;
}

:root{
    --color1: #D89584;
    --color2: #f4f4f4;
}

body{
    font-family: Arial;
    line-height: 1.5;
}

div.cover{
    background: url(cover_overlay.png) no-repeat center top/100% 100%,url(cover.jpg) no-repeat center top/cover;
    height: 360px;
    position: relative;
}


img.cover_pic {
    border-radius: 50% 50%;
    height: 110px;
    width: 110px;
    position: relative;
    left: 50%;
    object-fit: cover;
    margin-left: -60px;
    margin-top: 25px;
    border: 2px solid white;
}

div.cover h1{
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 8px;
    margin-bottom: 0px;
}

div.cover p {
    color: lightgray;
    text-align: center;
    font-size: 14px;
    margin-bottom: 35px;
    margin-top: 0px;
}

div.cover .cover_button{
    position: relative;
    left: 50%;
    margin-left: -50px;
    border: 2px solid var(--color1);
    background-color: #00000060;
    color: var(--color1);
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}

div.cover .cover_button:hover{
    border: 2px solid lightgray;
    color: lightgray;
}


div.cover_contacts{
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover_contacts a{
    text-decoration: none;
    display: block;
    margin-top: 0px;
    color: white;
    font-size: 14px;
}

div.cover_contacts a:first-child{
    margin-bottom: 15px;
}

div.cover_contacts a:hover{
    color: lightgray
}

div.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.first {
    background: url(triangle2white.svg) no-repeat center bottom / 100%;
    background-color: var(--color2);
    padding-bottom: 70px;    
}

div.separator{
    border-top: 1px solid #979797;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
} 

p.info_me{
    text-align: center;
    color: #656565;
    font-size: 22px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

/* div.second {

} */

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.third{
    background: url(triangle1white.svg) no-repeat center top / 100%;
    background-color: var(--color2);
    padding-top: 100px;  
}

.col40{
    width: 40%;
}

.col60{
    width: 60%;
}

.float-right{
    float: right;
}

div.text-with-vertical-line{
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.text-with-vertical-line p{
    margin-top: 0px;
}

div.vertical-bar{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

.col-portfolio{
    width: 47%;
}

div.frame{
    margin: 10px 50px;
    background-color: white;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}

div.frame p{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.frame table{
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.touch_pic{
    border-radius: 50% 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid white;
}

div.portfolio-header {
    height: 90px;
    background:url(header.jpg) no-repeat center top;
}

div.portfolio-header .cover_button{
    position: relative;
    left: 90%;
    margin-left: -50px;
    border: 2px solid var(--color1);
    background-color: #00000060;
    color: var(--color1);
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}

div.portfolio-header .cover_button:hover{
    border: 2px solid lightgray;
    color: lightgray;
}

div.text-with-vertical-line .header-line-text{
    color: white;
}